.container {

    height:100vh;
    
    }
    
    
    
    mat-sidenav {
    
    width:260px;
    
    }
    
    
    
    mat-toolbar {
    
    height:64px;
    
    }
    
    
    
    .space {
    
    flex:1;
    
    }
    
    
    
    .content {
    
    padding:20px;
    
    }
    
    
    mat-icon {
    
    margin-right:10px;
    
    }
    
    
    
    a {
    
    display:flex;
    
    align-items:center;
    
    gap:10px;
    
    }
    
    
    button {
    
    width:100%;
    
    text-align:left;
    
    }