<mat-sidenav-container class="container">


<mat-sidenav
class="sidebar"
mode="side"
opened>


<mat-toolbar class="logo">

<mat-icon>
home_work
</mat-icon>

Rental System

</mat-toolbar>




<mat-nav-list>



@for(menu of menus; track menu.path){


@if(hasPermission(menu.permission)){



<a
mat-list-item
[routerLink]="menu.path"
routerLinkActive="active">


<mat-icon>

{{menu.icon}}

</mat-icon>


<span>

{{menu.title}}

</span>


</a>



}


}




<button
mat-list-item
(click)="logout()">


<mat-icon>

logout

</mat-icon>


Logout


</button>



</mat-nav-list>


</mat-sidenav>





<mat-sidenav-content>



<mat-toolbar color="primary">


<button mat-icon-button>


<mat-icon>
menu
</mat-icon>


</button>



<span>

House Rental Management System

</span>




<span class="space"></span>




<div class="user">


<mat-icon>
account_circle
</mat-icon>


{{user?.fullName}}


</div>



</mat-toolbar>





<div class="content">


<router-outlet></router-outlet>


</div>




</mat-sidenav-content>


</mat-sidenav-container>